<div class="footer">
  <div class="events">
    <h4>Event & Bootcamp</h4>
    <div class="links">
      <ul>
        <li>
          <a href="">Web Development</a>
        </li>
        <li>
          <a href="">Mobile Development</a>
        </li>
        <li>
          <a href="">UI Design</a>
        </li>
        <li>
          <a href="">UI Research</a>
        </li>
        <li>
          <a href="">Presentation</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="">Comunication</a>
        </li>
        <li>
          <a href="">Video Production</a>
        </li>
        <li>
          <a href="">Digital Marketing</a>
        </li>
        <li>
          <a href="">Branding</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="about">
    <h4>About Owlearn</h4>
    <ul>
      <li>
        <a href="">Adminission Info</a>
      </li>
      <li>
        <a href="">Article</a>
      </li>

      <li>
        <a href="">Group & Referral Program</a>
      </li>
      <li>
        <a href="">Careers</a>
      </li>
    </ul>
  </div>
  <div class="contact">
    <h4>Contact</h4>
    <ul>
      <li>
        <a
          href=""
          style="color: #086BED
        ;"
          >support@edtech.com</a
        >
      </li>
      <li>
        <a
          href=""
          style="color: #086BED
        ;"
          >(+62) 85923935983</a
        >
      </li>
      <li>
        <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
      </li>
      <li>
        <a href="" class="social-icon">
          <img src="../../assets/images/instgram.svg" alt="" />
        </a>
        <a href="" class="social-icon">
          <img src="../../assets/images/twiter.svg" alt="" />
        </a>
        <a href="" class="social-icon">
          <img src="../../assets/images/linkedin.svg" alt="" />
        </a>
        <a href="" class="social-icon">
          <img src="../../assets/images/youtube.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
