<div class="navbar-content">
  <div class="container">
    <div class="content">
      <div class="logo">
        <div class="image">
          <img src="../../assets/images/Frame 19.svg" alt="" />
        </div>
        <span class="page-name">
          Owlearn
        </span>
      </div>
      <div class="links">
        <ul>
          <li>
            <a routerLink='/'  routerLinkActive="active-link">Home</a>
          </li>
          <li>
            <a href="">Bootcamp</a>
          </li>
          <li>
            <a href="">Events</a>
          </li>
          <li>
            <a href="">Article</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul>
        <button class="contact" (click)="showDialog()">
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
